.section-nav{
    display: flex;
    border-bottom: 1px solid gray; 
    justify-content: center;
}

.section-nav ul{
    display: flex;
    // align-items: center;
} 

.section-nav li{
    padding: 10px;
}

.section-nav a:hover{
    background-color: lightgray;
    text-decoration: none;
}

.section-nav > ul > li:last-of-type > a:hover{
    background-color: transparent;
    text-decoration: underline; 
}