<form action ="<%= sub_url(@sub.id)%>" method = "POST">
<input type = "hidden" name = "_method" value = "PUT">

    <%= auth_token_input%>
    
    <label> Title
        <input type="text" name="sub[title]">
    </label>
    <label> Description
        <input type="textarea" name="sub[description]">
    </label>

    <input type="submit" value="Update Sub"> 

</form>